            /* Mobile */
        
        @media (max-width:575px) {
            * {
                font-size: 16px;
            }
            header .nav-bar>li {
                position: relative;
                /* text-align: center; */
            }
            .certs {
                border-bottom: 1px solid #ffa500;
            }
            .prj-info {
                display: flex;
                flex-direction: column;
            }
            .prj-info .timeline {
                margin-bottom: 16px;
            }
        }
        /* Tablet */
        
        @media (min-width:576px) and (max-width:991px) {
            header .nav-bar>li {
                text-align: center;
            }
            .very-left,
            .very-right {
                border-right: 1px solid #12128c36;
                border-left: 1px solid #12128c36;
            }
            .nav-bar {
                border-bottom: 1px solid #12128c36;
            }
            /* PC */
            @media (min-width:992px) {
                * {
                    font-size: 16px;
                }
                .certs:first-child {
                    border-right: 1px solid #ffa500;
                    border-bottom: 1px solid #ffa500;
                }
                .certs:nth-child(2) {
                    border-bottom: 1px solid #ffa500;
                }
                header .nav-bar>li {
                    text-align: center;
                }
                .very-right {
                    border-right: 1px solid #12128c36;
                }
                .very-left {
                    border-left: 1px solid #12128c36;
                }
            }